<launch>

  <!-- Policy Node -->
  <arg name="agent_num" default="0" doc="Agent Number for ARS (GMBC) Policy. Default (0) Loads no Agent. Policy numbers start at 9 and increase by 10. E.G: 9...19...29..."/>
  <param name="agent_num" value="$(eval arg('agent_num'))" />

  <!-- Spot Params -->
  <rosparam command="load" file="$(find mini_ros)/config/spot_params.yaml" />

  <!-- Policy Params -->
  <rosparam command="load" file="$(find mini_ros)/config/policy_params.yaml" />

  <!-- Joystick Params -->
  <rosparam command="load" file="$(find mini_ros)/config/joy_params.yaml" />

  <!-- Policy Node -->
  <node name="spot_cmd" pkg="mini_ros" type="spot_controller" output="screen"/>

</launch>